$baseColor: #159396;

html,body,#app{
  margin: 0;
  padding: 0;
  min-width: 1320px;
  height: 100%;
  background: #F2F3F7;
}
.rm-icon-two{
  display: inline-block;
  padding-top: 24px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 24px 24px;
}
.rm-hide{
  display: none;
}
//aside fixed
.el-aside.fixed{
  position: fixed;
  top: 2px;
  height: 99.5%;
  padding-bottom: 20px;
  &.btm{
    height: calc(100% - 61px);
  }
}
.el-main.fixed{
  padding-left: 225px;
}

//header
.el-header{
  margin-bottom: 10px;
  background-color: #fff;
  .el-row,.el-col,.grid-content{
    height: inherit;
  }
  .el-col>.grid-content{
    display: flex;
    align-items: center;
    &.bg-purple-light{
      justify-content: flex-end;
    }
  }
  .rm-icon-two{
    margin-left: 20px;
    font-size: 12px;
    color: #999;
    &:hover{
      cursor: pointer;
      color: #41CCA6;
    }
  }
  .rm-icon-two.work{
    background-image: url("/static/image/work.png");
    &:hover{
      background-image: url("/static/image/work-g.png");
    }
  }
  .rm-icon-two.message{
    background-image: url("/static/image/message.png");
    &:hover{
      background-image: url("/static/image/message-g.png");
    }
  }
  .rm-icon-two.user{
    background-image: url("/static/image/user.png");
    &:hover{
      background-image: url("/static/image/user-g.png");
    }
  }
}
//wrap
.el-container.wrap{
  height: 100%;
  .el-aside,
  .el-scrollbar__wrap{
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.el-header+.el-container{
  height: calc(100% - 100px);
}
//aside
.el-scrollbar.aside{
  margin: 0 10px 10px;
  background: #fff;
  border-radius: 4px;
  .el-menu{
    border: none;
  }
  .el-menu-item, .el-submenu__title{
    height: 42px;
    line-height: 40px;
    font-size: 14px;
  }
  .el-menu-item.exact,
  .el-submenu__title{
    padding-left: 20px!important;
  }
  .el-submenu .el-menu-item{
    padding-left: 40px!important;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }
  .el-menu-item.exact.is-active{
    position: relative;
    color: $baseColor;
    background: #ECFAF6;
    &:before{
      content: '';
      width: 2px;
      height: 100%;
      background: $baseColor;
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
    }
  }
  .el-submenu.is-active{
    position: relative;
    .el-menu-item.is-active,
    .el-submenu__title{
      color: $baseColor!important;
    }
    .el-menu-item.is-active{
      background: #ECFAF6;
    }
    &:before{
      content: '';
      width: 2px;
      height: 100%;
      background: $baseColor;
      position: absolute;
      z-index: 9;
      left: 0;
      top: 0;
    }
  }
}

//main
.el-main{
  padding: 0;
  padding-right: 10px;
  margin-bottom: 10px;
}
//面包屑
.el-breadcrumb{
  padding-bottom: 10px;
  background: #F2F3F7;
  .el-breadcrumb__item{
    &.extra{
      .el-breadcrumb__inner{
        color: #999;
      }
      &+span{
        color: #606266;
        &>span:hover{
          cursor: pointer;
          opacity: .85;
          color: $baseColor;
        }
      }
    }
  }
}

.el-button--success.is-disabled{
  background: #bfbfbf!important;
  border-color: #bfbfbf!important;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 8px;
  background-color: rgba(144,147,153,.2);
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFF;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(144,147,153,.2);
  &:hover{
    background-color: rgba(144,147,153,.5);
  }
}

a.beian{
  padding: 0 5px;
  text-decoration: none;
  &:active,
  &:link,
  &:focus,
  &:visited{
    color: #159396;
  }
}
