$baseColor: #159396;
$baseFontSize: 12px;
.el-menu-item.is-active{
  color: $baseColor!important;
  border-bottom-color: $baseColor!important;
}
.el-select-dropdown__item.selected{
  color: $baseColor;
  font-weight: 400;
}
.el-dropdown-menu__item{
  &:hover{
    color: $baseColor!important;
  }
}
.filter-menu{
  .el-menu-item,
  .el-menu--horizontal>.el-menu-item{
    height: auto;
    line-height: normal;
  }
  .el-menu-item{
    padding: 10px;
  }
}
.filter-row{
  overflow: hidden;
  margin-top: -10px;
  .el-button+.el-button{
    margin-left: 0px;
  }
  div.button,
  div.search{
    margin-top: 10px;
  }
  div.button{
    float: left;
    .el-button{
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  div.search{
    float: right;
    .el-button{
      vertical-align: 1px;
      min-width: 60px;
      width: 60px;
    }
    .el-input__inner{
      padding: 0 5px;
    }
    .el-select,
    &>.el-input{
      width: 100px;
      &.width60{
        width: 60px;
      }
      &.width80{
        width: 80px;
      }
      &.width90{
        width: 90px;
      }
      &.width110{
        width: 110px;
      }
      &.width120{
        width: 120px;
      }
    }
    .el-date-editor{
      width: 224px;
      vertical-align: 2px;
    }
    .el-button-2{
      display: inline-block;
      border: 1px solid #BFBFBF;
      border-radius: 2px;
      color: #999;
      &>.el-input{
        width: 100px;
      }
      .el-input__inner{
        border: none;
        height: 30px;
        line-height: 30px;
      }
      &.address{
        select{
          width: 90px;
          height: 30px;
          line-height: 30px;
          outline: none;
          border: none;
          color: #666;
        }
      }
    }
  }
}

.sy-line{
  line-height: 1.6;
}
.sy-bold{
  font-weight: bold;
  color: #555;
}
.sy-bold.sy-title{
  font-size: 16px;
}
.rm-cg,.rm-info{
  .el-dialog--center .el-dialog__body{
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
.rm-cg{
  .el-form-item{
    margin-bottom: 10px;
  }
  .el-input{
    width: 65%;
  }
  .el-input__inner{
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    border-color: #BFBFBF;
    &:focus{
      border-color: #409EFF;
    }
  }
  .el-form-item__label{
    width: 100px;
  }
}
.rm-info{
  .el-form-item{
    margin-bottom: 0;
  }
}

.el-button--default,
.el-button--success{
  min-width: 80px;
  padding: 8px 10px;
  border-radius: 2px;
  border-color: $baseColor;
}
.el-button--default{
  color: $baseColor;
  &:hover{
    background: $baseColor;
    border-color: $baseColor;
    color: #fff;
  }
  &:focus{
    background: #fff;
    border-color: $baseColor;
    color: $baseColor;
  }
}
.el-button--success{
  background-color: $baseColor;
  border-color: $baseColor;
  color: #fff;
  &:hover{
    opacity: .8;
  }
  &:hover,&:focus{
    background-color: $baseColor;
    border-color: $baseColor;
  }
}
.el-button--text{
  color: $baseColor;
  &:hover{
    color: $baseColor;
    opacity: .8;
  }
  &.del{
     color: #EC6941;
  }
  &.del2{
    color: red;
  }
}
.page{
  &.maxwidth{
    .default-style{
      &+.default-style{
        margin-top: 10px;
      }
      &.default-form{
        &>.filterRow{
          margin-bottom: 0;
        }
        .el-col{
          margin-bottom: 0;
        }
      }
    }
    .el-tabs__header{
      margin-bottom: -12px;
      padding-bottom: 8px;
      background-color: #fff;
    }
    .el-tabs__nav {
      margin-left: 20px;
    }
  }
  .el-date-editor .el-range-separator{
    line-height: 26px;
  }
  .el-range-input{
    text-align: left;
  }
  .el-pagination{
    margin-top: 1rem;
    .el-pager li{
      margin-left: 5px;
      font-weight: 400;
      border-radius: 3px;
      border: 1px solid #BFBFBF;
      &.active{
        border-color: $baseColor;
        background: $baseColor;
        color: #fff;
      }
      &:not(.active):hover{
        color: $baseColor;
        border-color: $baseColor;
      }
      &:nth-child(1){
        margin-left: 0;
      }
    }
    .el-input__inner{
      height: 28px;
      line-height: 27px;
    }
    .el-select{
      width: auto!important;
    }
  }
  td .el-dropdown,
  .el-table th,
  .el-table td{
    font-size: $baseFontSize;
  }
  .el-table th{
    padding: 8px 0;
    background: #eee;
    color: #000;
    border-bottom: 1px solid $baseColor!important;
    user-select: text!important;
  }
  .el-table td{
    padding: 5px 0 4px;
    color: #333;
    .cell{
      line-height: 22px;
    }
    .el-button{
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: $baseFontSize;
    }
  }
  .el-table td, .el-table th.is-leaf{
    border-bottom: 1px solid #EBEBEB;
  }
  .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right: 1px solid #EBEBEB;
  }

  .el-table{
    &.exact-table{
      th{
        border-bottom: 1px solid #ccc!important;
      }
    }
  }

  .rm-right{
    text-align: right;
  }
  .rm-center{
    text-align: center;
  }
  .pd-r-50{
    padding-right: 15px;
  }
  .mg-b-20{
    margin-bottom: 20px;
  }
  .mg-b-0{
    margin-bottom: 0px!important;
  }
  .download{
    color: $baseColor;
    font-size: 12px;
    text-decoration: none;
    &.mg-r{
      margin-right: 10px;
    }
    &.mg-l{
      margin-left: 10px;
    }
    &:hover{
      opacity: .8;
    }
  }
  .default-form{
    &+.el-tab-pane,
    &.default-style+.default-style{
      margin-top: 2px;
    }
    .el-date-editor--daterange,
    .el-date-editor--date,
    .el-select{
      width: 100%;
      .el-select__tags{
        max-width: none!important;
      }
    }
  }
  .default-style{
    &+.default-style{
      margin-top: 10px;
    }
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    .dotted-border-lf{
      border-left: 1px dotted #BFBFBF;
    }
    .dotted-border-rg{
      border-right: 1px dotted #bfbfbf;
    }
  }
  .el-textarea__inner{
    height: 120px;
    border-color: #BFBFBF;
    border-radius: 2px;
    font-family: inherit;
    &:focus{
      border-color: #409EFF;
    }
  }
  .el-input__inner{
    height: 32px;
    line-height: 32px;
    border-color: #BFBFBF;
    border-radius: 2px;
    &:focus{
      border-color: #409EFF;
    }
  }
  .el-input__icon{
    line-height: 26px;
  }

}
.detail{
  padding: 25px;
  background: #F7F8FA;
  color: #555555;
  font-size: 14px;
  .el-row{
    margin-bottom: 25px;
    &.exact{
      b{
        width: auto;
      }
    }
    .el-col-24{
      margin-bottom: 15px;
    }
    b{
      display: inline-block;
      width: 75px;
      color: #333;
    }
  }
}
//模态框上传样式修改
.el-dialog--center .el-dialog__body{
  padding: 20px 25px 0px;
}
.el-upload-dragger .el-icon-upload{
  font-size: 50px;
  margin: 20px 0 10px;
}
.el-upload-dragger{
  height: 135px;
  width: 250px;
}
.el-upload__tip{
  margin-top: 0;
  text-align: center;
}
.el-dialog__header{
  padding: 15px 20px 15px;
  border-bottom: 1px solid #F8F8F8;
  text-align: left;
  .el-dialog__title{
    font-size: 16px;
  }
}
.el-dialog__footer{
  padding: 15px 20px 15px;
  border-top: 1px solid #F8F8F8;
}
.el-message-box__btns{
  .el-button--primary{
    color: #fff;
    background: $baseColor;
    border-color: $baseColor;
    &:hover{
      opacity: .8;
    }
  }
}
//表单样式修改
.el-radio__input.is-checked+.el-radio__label,
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: $baseColor;
}
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background: $baseColor;
  border-color: $baseColor;
}
.el-radio__inner,
.el-checkbox__inner {
  border-color: #BFBFBF;
}

td .el-button+.el-button{
  margin-left: 0;
}
.detail.form{
  position: relative;
  .el-form{
    width: 730px;
  }
  form.el-form.resource{
    width: 100%;
    .el-row{
      margin-bottom: 0px;
    }
    .el-form-item{
      margin-bottom: 10px;
    }
    .el-input,
    .el-select,
    .el-textarea__inner,
    .el-date-editor{
      max-width: 280px;
    }
    .el-select,
    .el-date-editor {
      width: 100%;
    }
    .el-textarea__inner{
      height: 100px;
    }
    .wd-el-50{
      .el-form-item{
        margin-bottom: 0px;
      }
      .el-col.el-col-12{
        max-width: 140px;
        &:first-child{
          padding-right: 2px;
        }
      }
    }
  }
  .el-form-item{
    margin-bottom: 15px;
    &.exact{
      .el-form-item__label{
        line-height: 26px;
      }
      .el-form-item__content{
        line-height: 24px;
      }
    }
  }
  .el-form-item__label{
    font-weight: 700;
  }
  .wd-50, .el-select{
    width: 49.5%;
    &.exact{
      width: 99%;
    }
  }
  .el-form-item__error{
    top: auto;
    bottom: -15px;
  }
}
.el-form-item.exact{
  margin-bottom: 30px!important;
}
.el-form-item.extra{
  margin-bottom: 30px!important;
  .el-form-item__content{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .el-row{
    margin-bottom: 0px;
    background: #fff;
    &.exact{
      background: #F7F8FA;
    }
    .el-col{
      height: 40px;
      line-height: 40px;
      padding: 0px 15px;
      vertical-align: middle;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .el-select{
      width: 108%;
      margin-left: -12px;
    }
  }
}
.el-tooltip__popper{
  max-width: 50%;
}
.el-radio-group.exact{
  .el-radio{
    width: 140px;
    margin-bottom: 15px;
    margin-right: 5px;
  }
  .el-radio__label{
    padding-left: 5px;
  }
}
.assign-detail{
  padding: 10px;
  border: 1px dashed #ccc;
}
.verify-detail{
  .el-form-item {
    margin-bottom: 0;
  }
  .el-select{
    width: 70%;
  }
  .el-textarea {
    width: 95%;
  }
  .el-col-3,
  .el-col-12,
  .el-textarea,
  .el-textarea__inner,
  .el-button.exact{
    height: 116px;
  }
}
.el-tabs__active-bar{
  background: $baseColor;
}
.el-tabs__item:hover{
  color: $baseColor;
}
.el-tabs__item.is-active{
  color: $baseColor;
}
.el-tab-pane{
  h3{
    margin: 25px 0;
  }
  .skill-img{
    .item{
      display: inline-block;
      width: 120px;
      margin-right: 10px;
      text-align: center;
    }
    img{
      width: 120px;
      height: 90px;
      border: 1px solid #ccc;
    }
    p{
      margin: 5px 0;
    }
  }
  .el-row{
    margin-bottom: 15px;
  }
  .el-col {
    margin-bottom: 20px;
    b{
      width: 75px!important;
    }
  }
  .el-tag{
    margin-right: 5px;
  }
  .page{
    .el-row{
      margin-bottom: 0;
      &.last{
        .el-col{
          margin-bottom: 0;
        }
      }
    }
    .default-form{
      padding-bottom: 0;
    }
  }
}
.activity{
  .el-select,
  .el-input__inner{
    width: 100%!important;
  }
}
img.thumb{
  width: 80px;
  height: 60px;
  border: 1px solid #eee;
}
img.thumb-lg{
  width: 150px;
  height: 100px;
  border: 1px solid #eee;
}
.previewImg{
  width: 250px;
  height: 135px;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid #eee;
}
.business-table,
.parttime-table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  font-size: 14px;
  td{
    padding: 8px 10px;
    color: #606266;
    border: 1px solid #EBEBEB;
  }
  input[type=number],
  input[type=text]{
    box-sizing: border-box;
    width: 100%;
    max-width: 180px;
    height: 36px;
    padding: 0 10px;
    outline: none;
    color: #606266;
    border: 1px solid $baseColor;
    &[disabled]{
      background: none;
      border: none;
    }
  }
}
.business-table{
  td{
    width: 15%;
  }
}
.parttime-table{
  //table-layout: fixed;
  .el-input--prefix .el-input__inner{
    padding-left: 35px!important;
  }
  td{
    width: auto;
    &:not(td.name){
      min-width: 100px;
    }
    span{
      padding: 0 10px;
      &.el-select__tags-text,
      &.el-tag.el-tag--info:nth-child(2){
        padding: 0;
      }
    }
    .el-select{
      width: 100%;
    }
    .el-textarea__inner{
      height: 56px;
      max-width: 280px;
      border: 1px solid $baseColor;
    }
  }
  td.name{
    width: 100px;
    color: #999;
  }
  td.name[colspan],
  td.name[rowspan]{
    font-size: 16px;
  }
  .td-item{
    display: inline-block;
    padding: 10px;
    text-align: center;
    .el-image{
      width: 100px;
      height: 100px;
    }
    img{
      display: inline-block;
      border: 1px solid #ccc;
    }
    p{
      margin: 3px 0;
      text-align: center;
    }
  }
}
.sy-font-lg{
  font-size: 16px;
}
.sy-font-md{
  font-size: 14px;
}
.sy-font-sm{
  font-size: 12px;
}
td{
  .areaPicker{
    min-width: 290px;
    font-size: 0;
    &>select{
      width: 94px;
      height: 32px;
      line-height: 32px;
      padding: 0 6px;
      border: 1px solid $baseColor;
      border-radius: 0px;
      font-size: 14px;
      color: #666;
      vertical-align: middle;
      &+select{margin-left: 4px}
    }
  }
}
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell{
  overflow: visible;
  .el-badge__content.is-fixed{
    right: 0;
  }
}
.gr-item-list>div.gr-item{
  padding: 5px 0;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  &:last-child{
    border-bottom: none;
  }
}
.lan-item{
  padding: 15px 10px 1px 0;
  background-color: #fff;
  border-radius: 3px;
  &+.lan-item{
    margin-top: 5px;
  }
  &.dtp{
    .small-line>.el-form-item__label,
    .small-line>.el-form-item__content{
      line-height: 24px!important;
    }
  }
}
.in-item,.xl-item,.sf-item{
  padding: 12px 0;
  background-color: #fff;
  border-radius: 3px;
  & .el-select.exact{
    width: 100%!important;
  }
}
.el-form-item__content{
  .areaPicker{
    font-size: 0;
    &>select{
      width: 94px;
      height: 32px;
      line-height: 32px;
      padding: 0 6px;
      border-radius: 2px;
      font-size: 14px;
      color: #666;
      border-color: #BFBFBF;
      &+select{margin-left: 4px}
    }
  }
}
.el-popover.el-popper.el-popover--plain{
  position: absolute;
  border-radius: 4px;
  padding: 10px;
  z-index: 2000;
  font-size: 12px;
  line-height: 1.2;
  min-width: 10px;
  word-wrap: break-word;
  color: #fff;
  background: #303133;
  .popper__arrow{
    border-bottom-color: #303133;
  }
  .popper__arrow::after{
    border-top-color: #303133;
    border-bottom-color: #303133;
  }
}
.el-input.is-disabled .el-input__inner{
  background-color: #eee;
  border-color: #ccc;
  color: #666;
}
.detail-item{
  &.large{
    height: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.4;
    overflow-y: auto;
  }
  &.detail-short{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  margin-top: 3px;
  background-color: #eee;
  color: #666;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
}

.el-dropdown-menu{
  .el-dropdown-menu__item{
    padding: 0;
    a.blank, .el-button{
      display: inline-block;
      width: 100%;
      padding: 0 20px;
      text-align: left;
      color: #666;
    }
    &:hover .el-button,
    &:hover a.blank{
      color: $baseColor;
      opacity: 1;
    }
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
  &.account .el-dropdown-menu__item{
    padding: 0 20px;
  }
}
.el-dropdown-link {
  cursor: pointer;
  color: $baseColor;
  &:hover{
    opacity: .85;
  }
}
a.blank{
  color: $baseColor;
  text-decoration: none;
  &:hover{
    opacity: .85;
  }
}

