section.layout-page{height: 100%}
section.layout-page>section.el-container{height: calc(100% - 70px)}
.el-select-dropdown__wrap.el-scrollbar__wrap{margin-bottom: 0!important;}
.el-container.layout-page{
  .default-btn{
    color: #009EE8;
    border-color: #009EE8;
  }
  .float-left{
    float: left;
  }
  .float-right{
    float: right;
  }
/*
*  顶部 header
*/
  .el-header{
    background-color: #FAFAFA;
    font-size: 14px;
    .grid-content{
      height: 70px;
      line-height: 70px;
    }
    .bg-purple{
      font-size: 22px;
      color: #061F35;
      font-weight: bold;
      padding-left: 1em;
    }
    .bg-purple-light{
      text-align: right;
      span{
        display: inline-block;
        color: #333;
        background-size: 22px;
      }
    }
    .user{
      margin-right: 15px;
      padding-left: 26px;
      background-image: url("../../static/image/user.svg");
      background-repeat: no-repeat;
      background-position: 0 23px;

    }
    .logout{
      padding-left: 24px;
      background-image: url("../../static/image/logout.svg");
      background-repeat: no-repeat;
      background-position: 0 24px;
      &:hover{
        cursor: pointer;
        opacity: .8;
      }
    }
  }
/*
 *  左侧导航 aside
*/
  .el-aside{
    .el-menu-item.is-active{
      color: #fff;
      background-color: #000C26!important;
      border-right: 6px solid #009EE8;
    }
    li.exact,
    div.el-submenu__title{padding-left: 30px!important;}
    div.el-submenu__title~ul li{padding-left: 60px!important;}
  }
  .aside.el-scrollbar{
    background-color: #FAFAFA;
    .el-scrollbar__wrap,
    .el-scrollbar__view{
      width: 240px;
      padding-right: 17px;
      overflow-x: hidden;
    }
  }
  /*
   *  右侧内容 container
  */
  .el-main{
    background-color: #DCDCDC;
    padding: 16px;
  }
}
.el-scrollbar__wrap{
  overflow: auto;
  overflow-y: scroll;
}
.el-textarea__inner{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
