.data-page{
  .el-dialog{
    border-radius: 5px;
  }
  .el-dialog__body{
    padding-bottom: 0px;
  }
  .el-dialog__header{
    border-radius: 5px 5px 0 0;
    background: #000C26;
    padding-top: 10px;
  }
  .el-dialog__title{
    color: #fff;
    font-size: 15px;
  }
  .el-dialog__headerbtn{
    top: 14px;
  }
  .el-breadcrumb .el-breadcrumb__item:nth-of-type(1) .el-breadcrumb__inner{
    color: #999;
  }
  .el-breadcrumb__separator.el-icon-arrow-right{
    color: #333;
  }
  .border-bt{
    border-bottom: 1px solid #eee;
  }
  .mg-top{
    margin-top: 15px;
  }
  .pd-bg{
    background-color: #fff;
    padding: 20px 0;
  }
  .pd-l-r{
    padding: 0 10px;
  }
  .filter{
    .bg-purple{
      padding-left:50px;
      border-right: 1px dashed #C8C8C8;
    }
    .bg-purple-light{
      line-height: 120px;
      text-align: center;
    }
    .el-row{
      padding: 10px 0;
      font-size: 14px;
    }
  }
  .el-button.el-button--primary{
    background-color: #00A0E8;
    border-color: #00A0E8;
    &:hover{
      opacity: .8;
    }
  }
  div.table{
    background-color: #fff;
    .el-pagination{
      padding: 25px;
      text-align: right;
    }
    .el-pagination .btn-prev,
    .el-pagination .btn-next,
    .el-pager li{
      border: 1px solid #dcdfe6;
      margin-right: 5px;
      border-radius: 5px;
      font-weight: 400;
    }
    .el-pager li.active{
      background-color: #009DDF;
      color: #fff;
    }
  }
  .el-button.el-button--text.download{
    color: #37A916;
  }
  .el-button.el-button--text.put{
    color: #F19B22;
  }
  .el-button.el-button--text.delete{
    color: #A21615;
  }
  .el-button.el-button--text.orange{
    color: orangered;
  }
  .el-button.el-button--text:hover{opacity: .8}
  .el-button+.el-button{margin-left: 0}
  .el-table td{padding: 3px 0}
  .el-table th{
    padding: 15px 0;
    font-size: 15px;
    color: #373737;
  }
  .check-title .el-checkbox__label{
    font-weight: 700;
  }
  .check-title .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #333;
  }
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover{
  background-color: #a0cfff!important;
  border-color: #a0cfff!important;
}
a.download{
  color: #ff0000;
  text-decoration: none;
  &:hover{
    opacity: .8;
  }
}
.previewImg{
  display: inline-block;
  margin-bottom: -20px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
