// *****sort-label*****
.sort-label{
  padding: 15px 30px;
  border: 1px solid #ccc;
  a{
    display: inline-block;
    width: 25%;
    line-height: 36px;
    color: #666;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover{
      color: #00a0e9;
    }
  }
}

// ******sort-list*****
.content-list{
  padding-left: 0px;
  list-style: none;
  li{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    .el-row{
      height: 34px;
      line-height: 34px;
    }
    .el-button{
      border-radius: 0;
      padding: 10px 12px!important;
    }
    .list-question{
      display: inline-block;
      width: 70px;
      margin-right: 3px;
      text-align: justify;
      text-align-last: justify;
      color: #8a8a8a;
    }
    .list-answer{
      color: #000;
    }
  }
}
.bread-nav{
  color: #8a8a8a;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 20px;
  a{
    font-size: 14px;
    text-decoration: none;
    color: #00a0e9;
    &:hover{
      color: #6bc2e9;
    }
  }
}
