.user-vip{
  .el-form-item{
    display: table-cell;
  }
  .el-form{
    margin-bottom: 20px;
    .el-button{border-radius: 0}
  }
  .el-col.line{text-align: center}
  p{color: red;margin: 0;margin-top:5px;font-size: 12px}
  thead th,tbody td{text-align: center}
  thead th{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #333;
  }
  tbody td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .el-table--border, .el-table--group{
    border: 1px solid #ccc;
  }
  .el-table th.is-leaf{
    border-bottom: 1px solid #ccc;
  }
  .el-table{margin-bottom: 15px}
  h3.title{
    font-size: 16px;
    border-left: 5px solid #0b7dc3;
    padding-left: 10px;
  }
  .vip-info{
    margin-bottom: 30px;
    padding: 25px 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    span{
      display: inline-block;
      margin-right: 50px;
    }
    .el-button{
      border-radius: 0;
      span{margin-right: 0}
    }
    .normal-user,.vip-user{
      padding-bottom: 10px;
    }
    .vip-user{
      line-height: 28px;
      b{color: #9ad000}
      .el-button{
        vertical-align: text-bottom;
      }
      span.time{
        color: #8a8a8a;
        font-size: 12px;
      }
    }
    .vip-app{
      margin: 25px 0;
      h3{
        margin: 20px 0;
        font-size: 15px;
      }
      span{
        padding-left: 46px;
        height: 36px;
        line-height: 36px;
      }
      span:nth-child(2){
        background: url("../../../static/image/vip-1.png") no-repeat;
        background-size: 36px;
      }
      span:nth-child(3){
        background: url("../../../static/image/vip-2.png") no-repeat;
        background-size: 36px;
      }
      span:nth-child(4){
        background: url("../../../static/image/vip-3.png") no-repeat;
        background-size: 36px;
      }
    }
  }
}
